.show-container{
    height: 1000px;
    margin-left: 120px;
    margin-right: 120px;
}

.show-header{
    margin-top: 40px;
    display: flex;
    height: 100px;
    flex-direction: column;
    .show-review-box{
        display: flex;
        border: solid red 1px;
        align-items: bottom;
    }
}

.show-title{
    font-size: 30px;
    font-weight: bold;
}

.show-reviews{
    font-size: 12px;
    color: grey;
    decoration: none;
}

.show-location{
    margin-top: 14px;
    font-size: 12px;
    color: grey;

}

//photos onn show page 
.show-photo{
    height: 475px;
    width: 90%px;
    margin:0; 
    padding:0;
}

.show-photo-right{
    width: 50%;
    height: 50%;
    display: flex;
}

.show-photo-left{
    float: left;
    width: 50%;
    height: 100%;
}

.show-photo-one{
    border-radius: 22px;
    background-image: url('1.jpg');
    background-size: 100% 100%;
    width: 100%;
    height: 100%;
}

.show-photo-1{
    height: 90%;
    width: 50%;
    margin: 2%;
    border-radius: 22px;
    background-image: url('5.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.show-photo-2{
    height: 90%;
    width: 50%;
    margin: 2%;
    border-radius: 22px;
    background-image: url('2.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.show-photo-3{
    height: 90%;
    width: 50%;
    margin: 2%;
    border-radius: 22px;
    background-image: url('3.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.show-photo-4{
    height: 90%;
    width: 75%;
    margin: 2%;
    border-radius: 22px;
    background-image: url('4.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

//show body 
.body-container{
    margin-top: 40px;
    width: 100%;
    height: 500px;
    display: flex;

    .listing-price{
        width: 40%;
        height: 100;
        display: flex;
        justify-content: center;
        
        .booking-container{
            position: sticky;
            width: 350px;
            height: 250px;
            border: 1px solid rgb(221, 221, 221);
            border-radius: 22px;
            box-shadow:rgba(0, 0, 0, .35) 0px 1px 12px;
            display:flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }

        .date-button{
            border-radius: 5px;
            height: 35px;
            width: 41%;
            padding: 5px;
            border: solid 1px rgb(224, 224, 224);
        }

        .check-ava{
            height: 40px;
            background-color: rgb(255, 56, 92);
            color: white;
            border-radius: 8px;
            width: 83%;
            margin-top: 5px;
            margin-bottom: 5px;
            border: none;
        }

        .booking-price{
            font-size: 20px;
            font-weight: bold;
            padding: 5px;
        }

        .guest-button{
            height: 40px;
            width: 83%;
            padding: 5px;
            border-radius: 8px;
            border: none;
        }

        .date-wrapper{
            display:flex;
            justify-content: center;
            align-items: center;
            padding: 5px;
        }
    }
}

.show-body{
    width: 60%;
    height: 100%;

    .show-body-header{
        font-size: 24px;
        font-weight: bold;
    }

    .show-body-header2{
        font-size: 14px;
        color: grey;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .span1{
        margin-top: 20px;
        margin-bottom: 20px;
        border-top: solid lightgrey 1px;
        width: 100%;
        height: 1px;
    }

    .show-body-superhost-header{
        font-size: 20px;
        font-weight: bold;
        margin-top:20px;
        margin-bottom:10px;
    }

    .show-body-superhost-body{
        font-size: 14px;
        color: black;
        
        .show-inside-body{
            margin-bottom: 10px;
        }
    }

    .superhost{
        color: grey;
        font-size: 14px;
        margin-top:20px;
        margin-bottom:10px;
    }
    
    .amentities-header{
        font-size: 24px;
        font-weight: bold;
    }
    .show-amentities{
        height: 300px;
        display: flex;


        .show-box1{
            width: 45%;
            height: 50%;

            margin-top:15px;
        }

        .amentities-bullet-point{
            margin-bottom: 15px;
        }   
    }


}

.review-rating{
    display: flex;
}

.review-box{
    height: 400px;
    width: 100%;
}

.show-map-container{
    height: 400px;
    width: 100%;
}

#map-container{
    height: 100%;
    width: 100%;
}

.show-map{
    height: 100%;
    width: 100%;
}

.map-where{
    font-size: 20px;
    margin-top: 40px;
    margin-bottom: 20px;
}







