.review-container{
    overflow: scroll;
}

.review-rating{
    margin-top: 10px;
    margin-bottom:10px;
}

.review-comment{
    margin-top: 10px;
    margin-bottom:10px;
}

.x{
    float: right;
    color: grey;
    font-size: 14px;
    cursor: pointer;
}

.current-comment-user{
    font-size: 16px;
}

.review-comment{
    font-size: 14px;
    color: grey;
}

.review-rating{
    font-size: 16px;
    color: rgb(255, 56, 92);
}

.review-form-container{

    textarea {
        resize: none;
        width: 50%;
        border-radius: 8px;
        margin: 5px;
    }

    .review-form-label{
        width: 50%;
        height: 100%;
    }

    .review-stars{
        margin: 5px;       
    }

    .review-submit-button{

        height: 38px;
        width: 50.8%;
        border-radius: 8px;
        margin: 5px;
        font-size: 16px;
        background-color: rgb(255, 56, 92);
        color: white;
        border: none;

        &:hover{
            cursor: pointer;
        }
    }
}

