
.splash-container{
    display: flex;
    background-image: url('mainpage-unsplash.jpeg');
    background-size: cover;
    height: 80vh;
    width: 100%;
    background-repeat: no-repeat;   
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    .image-container{
        width: 100vw;
        height: 60vh;
    }

    .suprise-me-container{
        height: 100%;
    }

    .suprise-me{
        font-size: 20px;
        font-weight: bold;
        padding: 20px 40px;
        outline: none;
        background: white;
        border: 1px solid grey;
        border-radius: 50px;
        display: flex;
        box-shadow:rgba(0, 0, 0, 0.5) 1px 0px 12px;
        line-height: 24px;

        &:hover{
            box-shadow:rgba(255, 255, 255, 0.8) 1px 0px 12px;
        }
    }

    //FILTER BAR 
    .filter-box{
        widtH: 800px;; 

        .filter-container{
            margin-bottom: 300px;
            height: 70px;
            padding: 0 10px;
            display: flex;
            width: 100%;
            align-items: center;
            border-radius: 50px;
            background-color: white;
            box-shadow:rgba(0, 0, 0, .75) 0px 1px 12px;
            margin-top: 100px;
    
            .filter-button-search{
                display: inline-flex;
                border-radius: 50px;
                overflow: hidden;
                align-items: center;
                background: white;
                height: 54px;
                padding: 0 16px;
                cursor: pointer;
                border: none;
                outline: none;
                width: 25%;

                &:hover{
                    background-color: lightgrey;
                }  
            }

            .filter-buttons{
                display: inline-flex;
                border-radius: 50px;
                overflow: hidden;
                align-items: center;
                background: white;
                height: 54px;
                padding: 0 16px;
                cursor: pointer;
                border: none;
                outline: none;
                width: 20%;
                text-align: center;

                &:hover{
                    background-color: lightgrey;
                }  
            }

            .filter-button-guest{
                display: inline-flex;
                border-radius: 50px;
                overflow: hidden;
                align-items: center;
                background: white;
                height: 54px;
                padding: 0 16px;
                cursor: pointer;
                border: none;
                outline: none;
                width: 20%;
                text-align: center;

                &:hover{
                    background-color: lightgrey;
                }  
            }
    
            .filter-buttons-search{
                background-color: rgb(255, 56, 92);
                display: inline-flex;
                border-radius: 50px;
                overflow: hidden;
                align-items: center;
                height: 48px;
                padding: 0 16px;
                cursor: pointer;
                border: none;
                text-decoration: none;
                color: white;

                &:hover{
                    background-color: rgb(192, 26, 57);
                }
            }
        }
    }


    .suprise-me:link{
        color: purple;
    }
    .suprise-me:visited{
        color: purple;
    }
    .suprise-me:hover{
        color: purple;
    }
    .suprise-me:focus{
        color: purple;
    }
    .suprise-me:active{
        color: purple;
    }
    .suprise-me {
        text-decoration: none;
        color: purple;
    }
}

.cities{
    margin-top: 40px;
    font-size: 30px;
    font-weight: bold;
    width: 20%;
    margin-left: 7.5%;
}

.explore-wrapper{
    display: flex;
    justify-content: center;
    height: 230px;

    .explore{
        width: 85%;

        .city-row-wrapper{
            margin-top: 10px;
            height: 95%;
            width: 100%;

            .city-content{
                height: 50%;
                width: 100%;
                display: flex;
                flex-direction: row;

                .first-splash-box{
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    text-decoration: none;

                    .first-splash-image1{
                        width: 90px;
                        height: 90px;
                        border-radius: 12px;
                        background-image: url('NewYorkCity.jpeg');
                        background-size: 100% 100%;
                    }
                    .first-splash-image2{
                        width: 90px;
                        height: 90px;
                        border-radius: 12px;
                        background-image: url('Miami.jpeg');
                        background-size: 100% 100%;
                    }
                    .first-splash-image3{
                        width: 90px;
                        height: 90px;
                        border-radius: 12px;
                        background-image: url('LasVegas.jpeg');
                        background-size: 100% 100%;
                    }
                    .first-splash-image4{
                        width: 90px;
                        height: 90px;
                        border-radius: 12px;
                        background-image: url('Los.jpeg');
                        background-size: 100% 100%;
                    }
                    .first-splash-image5{
                        width: 90px;
                        height: 90px;
                        border-radius: 12px;
                        background-image: url('City.jpeg');
                        background-size: 100% 100%;
                    }
                    .first-splash-image6{
                        width: 90px;
                        height: 90px;
                        border-radius: 12px;
                        background-image: url('Chi.jpeg');
                        background-size: 100% 100%;
                    }

                    .first-splash-word{
                        display: flex;
                        flex-direction: column;
                        justify-content: center;

                        h1{
                            padding: 3px 0px;
                            padding-left: 14px;
                        }

                        p{
                            padding: 10px 0px;
                            padding-left: 14px;
                            text-decoration: none;
                            color: rgb(107, 105, 105);
                        }
                    }
                }

                    .first-splash-box:link{
                        color: rgb(0, 0, 0);
                    }
                    .first-splash-box:visited{
                        color: rgb(0, 0, 0);
                    }
                    .first-splash-box:hover{
                        color: rgb(0, 0, 0);
                    }
                    .first-splash-box:focus{
                        color: rgb(0, 0, 0);
                    }
                    .first-splash-box:active{
                        color: rgb(0, 0, 0);
                    }
            }
        }
    }
}


